<template>
  <v-container class="ma-0 pa-0" grid-list-sm>
    <v-subheader>All Blogs</v-subheader>
    <v-layout wrap>
      <blog-item-component
        v-for="blog in blogs"
        :key="`blog-` + blog.id"
        :blog="blog"
      ></blog-item-component>
    </v-layout>
    <v-pagination
      v-model="page"
      @input="fetchData"
      :length="lengthPage"
      :total-visible="perPage"
    ></v-pagination>
  </v-container>
</template>

<script>
import SanberApi from "../services/api.services";
import BlogItemComponent from "../components/BlogItemComponent.vue";

export default {
  data: () => ({
    blogs: [],
    page: 0,
    lengthPage: 0,
    perPage: 0,
  }),

  metaInfo: {
    title: "Blogs",
  },

  components: {
    "blog-item-component": BlogItemComponent,
  },

  methods: {
    async fetchData() {
      await SanberApi.get("/v2/blog", { params: { page: this.page } })
        .then((response) => {
          let { blogs } = response.data;
          this.blogs = blogs.data;
          this.page = blogs.current_page;
          this.lengthPage = blogs.last_page;
          this.perPage = blogs.per_page;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },

  created() {
    this.fetchData();
  },
};
</script>
