<template>
  <v-container>
    <v-form ref="form">
      <v-text-field
        v-model="title"
        label="Judul"
        required
        :disabled="isLoading"
      ></v-text-field>
      <v-textarea
        name="input-7-1"
        label="Deskripsi Blog"
        v-model="description"
        :disabled="isLoading"
      ></v-textarea>

      <div class="text-xs-center">
        <v-btn color="success lighten-1" @click="handleSubmit">Buat Blog</v-btn>
      </div>
    </v-form>
  </v-container>
</template>

<script>
import SanberApi from "../services/api.services.js";
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      title: "",
      description: "",
      isLoading: false,
    };
  },

  computed: {
    ...mapGetters({
      token: "auth/token",
    }),
  },

  metaInfo: {
    title: "Create",
  },

  methods: {
    ...mapActions({
      setAlert: "alert/set",
    }),

    async handleSubmit() {
      this.isLoading = true;

      await SanberApi.post(
        "/v2/blog",
        { title: this.title, description: this.description },
        {
          headers: {
            Authorization: `Bearer ${this.token}`,
          },
        }
      )
        .then(() => {
          this.setAlert({
            status: true,
            color: "success",
            text: "Blog berhasil dikirim",
          });
          this.isLoading = false;
        })
        .catch(() => {
          this.setAlert({
            status: false,
            color: "error",
            text: "Terjadi sesatu kesalahan",
          });
          this.isLoading = false;
        });
    },
  },
};
</script>
