<template>
  <v-container>
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">ID</th>
            <th class="text-left">Judul</th>
            <th class="text-left">Deskripsi</th>
            <th class="text-left"></th>
            <th class="text-left"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in blogs" :key="item.name">
            <td>{{ item.id }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.description.substring(0, 20) }}...</td>
            <td>
              <edit-dialogue :data="item" :fetch="fetchData"></edit-dialogue>
            </td>
            <td>
              <v-btn color="error" @click="handleDelete(item.id)">Hapus</v-btn>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>

    <v-pagination
      class="py-10"
      v-model="page"
      @input="fetchData"
      :length="lengthPage"
      :total-visible="perPage"
    ></v-pagination>
  </v-container>
</template>

<script>
import SanberApi from "../services/api.services.js";
import { mapGetters, mapActions } from "vuex";
import EditDialogue from "../components/EditDialogue";

export default {
  components: { EditDialogue },

  data() {
    return {
      isLoading: false,
      page: 0,
      lengthPage: 0,
      perPage: 0,
      blogs: [],
    };
  },

  metaInfo: {
    title: "Edit",
  },

  computed: {
    ...mapGetters({
      token: "auth/token",
    }),
  },

  methods: {
    ...mapActions({
      setAlert: "alert/set",
    }),

    async fetchData() {
      this.isLoading = true;
      await SanberApi.get("/v2/blog", { params: { page: this.page } }).then(
        (response) => {
          let { blogs } = response.data;
          this.blogs = blogs.data;
          this.page = blogs.current_page;
          this.lengthPage = blogs.last_page;
          this.perPage = blogs.per_page;
          this.isLoading = false;
        }
      );
    },

    async handleDelete(id) {
      this.isLoading = true;
      await SanberApi.delete(`/v2/blog/${id}`, {
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
      }).then(() => {
        this.setAlert({
          status: true,
          color: "success",
          text: "Blog berhasil dihapus",
        });
        this.fetchData();
        this.isLoading = false;
      });
    },
  },

  created() {
    this.fetchData();
  },
};
</script>
