<template>
  <v-container class="ma-0 pa-0" grid-list-sm>
    <div class="text-right">
      <v-btn small text to="/blogs" class="blue--text">
        All Blogs
        <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </div>
    <v-layout wrap>
      <blog-item-component v-for="blog in blogs" :key="`blog-` + blog.id" :blog="blog"></blog-item-component>
    </v-layout>
  </v-container>
</template>

<script>
import SanberApi from "../services/api.services";
import { mapGetters } from 'vuex';
import BlogItemComponent from "../components/BlogItemComponent.vue";

export default {
  data: () => ({
    blogs: [],
  }),

  components: {
    "blog-item-component": BlogItemComponent,
  },

  computed: {
    ...mapGetters({
      guest: 'auth/guest',
      user: 'auth/user',
      token: 'auth/token',
    })
  },

  methods: {
    async fetchData() {
      await SanberApi.get('/v2/blog/random/2')
        .then((response) => {
          let { blogs } = response.data;
          this.blogs = blogs;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },

  created() {
    this.fetchData();
  },
};
</script>
