<template>
  <v-container fluid>
    <v-form ref="form" class="mt-6">
      <v-text-field
        v-model="email"
        label="E-mail"
        required
        append-icon="mdi-email"
        solo
      >
      </v-text-field>
      <v-text-field
        v-model="password"
        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
        :type="showPassword ? 'text' : 'password'"
        label="password"
        counter
        solo
        @click:append="showPassword = !showPassword"
      ></v-text-field>

      <div class="text-center mt-7">
        <v-btn
          rounded
          color="teal accent-3 mb-6"
          width="16rem"
          dark
          @click="submit"
        >
          Login
          <v-icon right dark>mdi-lock-open</v-icon>
        </v-btn>
      </div>
    </v-form>
  </v-container>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      email: "",
      showPassword: false,
      password: "",
      apiDomain: "http://demo-api-vue.sanbercloud.com",
    };
  },

  methods: {
    goToHome() {
      setTimeout(() => this.$router.push("/home"), 2000);
    },
    ...mapActions({
      setAlert: "alert/set",
      setToken: "auth/setToken",
    }),

    close() {
      this.$emit("closed", false);
    },

    submit() {
      const config = {
        method: "post",
        url: "https://demo-api-vue.sanbercloud.com/api/v2/auth/login",
        data: {
          email: this.email,
          password: this.password,
        },
      };

      this.axios(config)
        .then((response) => {
          this.setToken(response.data.access_token);

          this.setAlert({
            status: true,
            color: "success",
            text: "Login berhasil",
          });
          this.close();
        })
        .catch((response) => {
          console.log(response);

          this.setAlert({
            status: false,
            color: "error",
            text: "Login Gagal",
          });
        });
      this.goToHome();
    },
  },
};
</script>
